.card-dev {
    background-image: url(./img/cards/card-dev.jpg);
    background-size: cover;
    background-position: center;
}
.card-gastro {
    background-image: url(./img/cards/card-gastro.jpg);
    background-size: cover;
    background-position: center;
}
.card-design {
    background-image: url(./img/cards/card-design.jpg);
    background-size: cover;
    background-position: center;
}
.card-transformacao {
    background-image: url(./img/cards/card-transformacao.jpg);
    background-size: cover;
    background-position: center;
}
.card-python {
    background-image: url(./img/cards/card-python.jpg);
    background-size: cover;
    background-position: center;
}
.card-foto {
    background-image: url(./img/cards/card-foto.jpg);
    background-size: cover;
    background-position: center;
}
.card-marketing {
    background-image: url(./img/cards/card-marketing.jpg);
    background-size: cover;
    background-position: center;
}
.card-musica {
    background-image: url(./img/cards/card-musica.jpg);
    background-size: cover;
    background-position: center;
}
.card-escrita {
    background-image: url(./img/cards/card-escrita.jpg);
    background-size: cover;
    background-position: center;
}
.card-vida {
    background-image: url(./img/cards/card-vida.jpg);
    background-size: cover;
    background-position: center;
}
.card-jornada {
    background-image: url(./img/cards/card-jornada.jpg);
    background-size: cover;
    background-position: center;
}
.card-financas {
    background-image: url(./img/cards/card-financas.jpg);
    background-size: cover;
    background-position: center;
}
.aula-dev {
    background-image: url(./img/cards/aula-dev.jpg);
    background-size: cover;
    background-position: center;
}
.aula-gastro {
    background-image: url(./img/cards/aula-gastro.jpg);
    background-size: cover;
    background-position: center;
}
.aula-design {
    background-image: url(./img/cards/aula-design.jpg);
    background-size: cover;
    background-position: center;
}
.aula-transformacao {
    background-image: url(./img/cards/aula-transformacao.jpg);
    background-size: cover;
    background-position: center;
}
.aula-python {
    background-image: url(./img/cards/aula-python.jpg);
    background-size: cover;
    background-position: center;
}
.aula-foto {
    background-image: url(./img/cards/aula-foto.jpg);
    background-size: cover;
    background-position: center;
}
.aula-marketing {
    background-image: url(./img/cards/aula-marketing.jpg);
    background-size: cover;
    background-position: center;
}
.aula-musica {
    background-image: url(./img/cards/aula-musica.jpg);
    background-size: cover;
    background-position: center;
}
.aula-escrita {
    background-image: url(./img/cards/aula-escrita.jpg);
    background-size: cover;
    background-position: center;
}
.aula-vida {
    background-image: url(./img/cards/aula-vida.jpg);
    background-size: cover;
    background-position: center;
}
.aula-jornada {
    background-image: url(./img/cards/aula-jornada.jpg);
    background-size: cover;
    background-position: center;
}
.aula-financas {
    background-image: url(./img/cards/aula-financas.jpg);
    background-size: cover;
    background-position: center;
}